:root {
    --primary-color: #000000;
    --secondary-color: #08A6E4;
}


html, body {
    font-size: 16px;
}

.header {
    background-color: #FFFFFF;
    position: relative;
    /* z-index: 42; */
    box-shadow: 0rem 0.1875rem 0.375rem #00000029;
}

.header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner {
    width: 100%;
    max-width: 71.25rem;
    padding-inline: 1.25rem;
    margin-inline: auto;
}

.logo {
    /* display: flex;
    align-items: center; */
    text-decoration: none;
}

.logo .logo__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #08A6E4;
    font-size: 2rem;
    margin-right: .3125rem;
}

.menu {
    display: flex;
}

.menu .menu__item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #A5A5A5;
    font-size: 0.6875rem;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
    display: inline-block;
    min-width: 8rem;
    text-align: center;
}

.menu .menu__item.menu__item--active, .menu .menu__item:hover {
    color: #000000;
    border-bottom: 0.25rem solid #08A6E4;
}

.intro {
    background: url('../images/intro-bg.png') no-repeat bottom;
    background-size: contain;
    min-height: 52.125rem;
    margin-top: 8.125rem;
    color: var(--secondary-color);
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 3.875rem;
}

.intro .intro__hdl {
    font-weight: 400;
    font-size: 3.0625rem;
    color: var(--primary-color);
    margin-bottom: 2.5rem;
    margin-top: 0;
}

.intro .intro__lead {
    font-weight: 400;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color);
    /* max-width: 65.375rem; */
    letter-spacing: 0;
    margin-bottom: 3.375rem;
    /* line-height: 1.375; */
}

.btn {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 1.125rem 6.875rem;
    /* border: .0625rem solid var(--primary-color); */
    border-radius: 2.5rem;
    transition: all 400ms;
    display: inline-block;
    cursor: pointer;
    box-shadow: 5px 10px 14px #07ACE629;
}

.btn:hover {
    background-color: #08d2ff;
}

.section .section__box {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 3.375rem;
}

.section .section__col {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section .section__hdl {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    font-size: 2.25rem;
    position: relative;
    margin-bottom: 6.4375rem;

}

.section .section__hdl--ternary {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--primary-color);
    /* margin-bottom: 1.125rem; */

}

.section .section__apla {
    content: '';
    width: 3.9375rem;
    height: 3.9375rem;
    /* display: inline-block; */
    background-color: #FB3B64;
    border-radius: 50%;
    position: relative;
    /* top: 50%;
    transform: translateY(-50%);
    margin-left: .625rem; */
}

.section .section__apla--eye {
    content: '';
    width: 3.9375rem;
    height: 3.9375rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    position: relative;
}

.section .section__apla--catalog {
    content: '';
    width: 3.9375rem;
    height: 3.9375rem;
    background-color: #55DFB4;
    border-radius: 50%;
    position: relative;
}

.section .section__text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #A5A5A5;
    line-height: 1.357;
    min-width: 16.25rem;
    margin-top: 0;
}

.section .section__img {
    /* width: 100%;
    display: block; */
    position: absolute;
    transform: translateX(50%);

    /* transform: translateY(-10%); */
    /* margin-bottom: .5625rem; */
}

.section__benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    width: 100%;

}

.benefits {
    width: 100%;
    max-width: 71.25rem;
    padding-inline: 1.25rem;
    margin-inline: auto;
    background-color: #F7F7F7;
}

.section .section__photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 70.25rem;
    background-color: white;
    border: #E8E9ED;

}

.section .section__hdl--photo {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--primary-color);
    /* margin-bottom: 1.125rem; */

}

h3.section__hdl--photo {
    text-align: left;
}

.section .section__text--photo {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #A5A5A5;
    line-height: 1.357;
    min-width: 16.25rem;
    margin-top: 0;
}

.section .section__col--photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}



.section .section__hdl--number {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.875rem;
    color: #FB3B64;
    margin-top: 0.875rem;
    margin-bottom: 3.75rem;

}

.section .section__hdl--first {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-bottom: 0;
    padding: 0;
    /* margin-bottom: 1.125rem; */

}

.section .section__text--data {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--primary-color);
    margin-bottom: 0;
    padding: 0;


}

.btn__red {
    text-decoration: none;
    background-color: #EB476E;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8125rem;
    padding: 1.125rem 3.875rem;
    border-radius: 2.5rem;
    transition: all 400ms;
    display: inline-block;
    cursor: pointer;
    box-shadow: 5px 10px 14px #07ACE629;
    border: 0;
    margin-top: 5.0625rem;
}

.btn__red:hover {
    background-color: #f37a96;
}

.section .section__col--border {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23.25rem;
    height: 28.8125rem;
    background-color: white;
    border: #FB3B64;
    border-radius: 1.125rem;
}

.section .section__box--pricing {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 3.375rem;
}

